.cow {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  background-image: url(/assets/cow_walk.png);
  background-size: calc(var(--cow-width) * var(--cell-size))
    calc(var(--cow-height) * var(--cell-size));
  transition: transform 0.5s ease-in;
}
