<app-settings></app-settings>
<div class="state bagel">
  <span>GOURMET SCORE:&nbsp;</span>
  <span>{{ currentGrass() }}</span>
  /
  <span>{{ totalGrass }}</span>
</div>
<div class="board">
  <div class="field">
    <app-cell *ngFor="let cell of cells()" [cell]="cell"></app-cell>
  </div>
  <app-cow
    [x]="playerPosition()!.x"
    [y]="playerPosition()!.y"
    [direction]="direction()!"
  ></app-cow>
</div>
<app-alert
  [open]="dialogOpen()"
  [result]="gameResult()"
  (closed)="onDialogClosed()"
></app-alert>
