<div class="state">
  <span>GRASS COUNTER:</span>
  <span>{{ currentGrass() }}</span>
  /
  <span>{{ totalGrass }}</span>
</div>
<div class="board">
  <div class="field">
    <app-cell *ngFor="let cell of cells()" [cell]="cell"></app-cell>
  </div>
  <app-cow
    [x]="playerPosition()!.x"
    [y]="playerPosition()!.y"
    [direction]="direction()!"
  ></app-cow>
</div>
<!-- <div class="controls">
  <button (click)="boardService.move('up')">⬆️</button>
  <button (click)="boardService.move('down')">⬇️</button>
  <button (click)="boardService.move('left')">⬅️</button>
  <button (click)="boardService.move('right')">➡️</button>
</div> -->
