.overlay {
  position: fixed;
  inset: 0;
  background: var(--alert-color);
  z-index: 1000;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  background: var(--board-color);
  padding: 20px 60px;
  border-radius: 12px;
  text-align: center;
  color: var(--border-color);
  box-shadow: 0 4px 20px rgba($color: #000000, $alpha: 0.4);
  z-index: 1100;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;

  &.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  img {
    max-width: 300px;
    margin-bottom: 15px;
  }

  .alert__message {
    max-width: 300px;
    font-size: 25px;
  }
}
