.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  background-image: url(/assets/grass.png);
  background-size: calc(3 * var(--cell-size)) calc(3 * var(--cell-size));
  overflow: visible;
  filter: brightness(1) sepia(0);
  transition: filter 0.5s ease;
}
.cell-background {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  background-size: var(--cell-size) var(--cell-size);
  background-image: url(/assets/grass_empty.png);
  transform: scaleY(-1);
}

.cell.revealed {
  background-image: none;
}

.content {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--cell-size);
  height: var(--cell-size);
  overflow: visible;
  color: var(--number-color);
  opacity: 0;
  background-image: url(/assets/bubble.png);
  background-size: var(--cell-size);
  background-position: bottom;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease-out;
}

.content.content--left {
  transform: scale(-1, 1);
}

.content--visible {
  opacity: 0.95;
}

.content__number {
  display: block;
  text-align: center;
  transform: translateY(30%) translateX(-30%);
}

.content--left .content__number {
  transform: scale(-1, 1) translateY(30%) translateX(30%);
}
