<div class="cell-background" [class.revealed]="cell.revealed">
  <div
    class="cell"
    [class.mine]="cell.hasMine"
    [class.revealed]="cell.revealed"
    [style.background-position]="backgroundPosition"
  >
    <div
      class="content"
      [class.content--visible]="!!delayedContent"
      [class.content--left]="direction()! && direction() === 'left'"
    >
      <span class="content__number bagel">
        {{ delayedContent }}
      </span>
    </div>
    <span class="hint" [class.hint--marked]="displayHint"></span>
  </div>
</div>
