.dropdown {
  position: relative;

  .dropdown-icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: unset;
    border: none;
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    background: var(--board-color);
    z-index: 1000;
    pointer-events: none;
    max-height: 0;
    opacity: 0;
    padding: 20px;
    transform: translateY(-10px);
    transition:
      max-height 0.3s ease-out,
      opacity 0.3s ease-out,
      transform 0.3s ease-out;
  }

  .dropdown-menu--open {
    pointer-events: auto;
    max-height: 400px;
    opacity: 1;
    transform: translateY(0);
  }

  &.dropdown--open .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
  }
}
